* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
}

html, body {
  --blue: #1881C4;
  --gray: #807F80;
  --light-gray: #dadada;
  --white: #FFFEFF;
  background-color: #E1E0E2;
  font-family: 'Lato', sans-serif;
  height: 100%;
  width: 100%;
}

/* Helpers */
.flex {
  display: flex;
}
.flex-center {
  align-items: center;
  justify-content: center;
}
.flex-acenter {
  align-items: center;
}
.flex-jcenter {
  justify-content: center;
}
.flex-column {
  flex-direction: column;
}
.flex-between {
  justify-content: space-between;
}
.flex-around {
  justify-content: space-around;
}
.flex-jend {
  justify-content: flex-end;
}
.flex-aend {
  align-items: flex-end;
}
/* Helpers */

/* Navigation */
.navigation-shadow {
  background-color: rgba(0, 0, 0, .6);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 200ms ease-in-out;
  z-index: 99999;
}

.navigation-shadow-visible {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}

.navigation {
  background-color: var(--white);
  bottom: 0;
  left: 0;
  max-width: 380px;
  opacity: 0;
  position: fixed;
  top: 0;
  transform: translateX(-100%);
  transition: opacity 400ms ease-in-out, transform 300ms ease-in-out;
  width: 90%;
}

.navigation-visible {
  opacity: 1;
  transform: translateX(0);
}

.close {
  left: 15px;
  position: absolute;
  top: 15px;
}

.navigation-user {
  margin: 2.5em 0 2em;
}

.links {
  height: 100;
  list-style: none;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

.link {
  width: 100%;
}

.anchor {
  border-bottom: 1px solid var(--light-gray);
  color: var(--gray);
  display: block;
  outline: none;
  padding: 1em;
  text-decoration: none;
}
/* Navigation */

/* Top bar */
.top-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 1.4em 1.5em .7em;
  position: absolute;
  top: 0;
  width: 100%;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.button img {
  opacity: .5;
}
/* Top bar */

/* User Info */
.info {
  background-color: var(--white);
  padding: 5em 0 2em;
  width: 100%;
}

.user {
  margin-bottom: 2em;
}

.user-image-container {
  align-items: center;
  background-color: var(--white);
  border-radius: 100%;
  border: 1px solid var(--light-gray);
  display: flex;
  height: 100px;
  justify-content: center;
  overflow: hidden;
  width: 100px;
}

.user-image {
  border-radius: 100%;
  height: 90px;
  width: 90px;
}

.user-image-container-min {
  height: 50px;
  width: 50px;
}

.user-image-min {
  height: 40px;
  width: 40px;
}

.name {
  margin: 1em 0 .3em;
}

.team {
  align-items: center;
  color: var(--gray);
  display: flex;
  font-size: .9rem;
  justify-content: center;
}

.team-tag {
  align-items: center;
  background-color: var(--blue);
  border-radius: 4px;
  color: var(--white);
  display: flex;
  justify-content: center;
  margin-right: .3em;
  padding: .2em .4em;
}

.status-info {
  border-right: 1px solid var(--light-gray);
  font-size: 1.2rem;
  padding: 0 1.8em;
  text-align: center;
}

.status-info:last-child {
  border-right: none;
}

.status-label {
  color: var(--gray);
  font-size: .8rem;
}
/* User Info */

/* Card */
.card {
  background-color: var(--white);
  border-radius: 4px;
  margin: 1.5em auto;
  max-width: 400px;
  padding: .9em;
  width: 90%;
}

.card-header {
  color: var(--gray);
  margin-bottom: 1em;
}

.card-title {
  font-weight: bold;
}

.card-action {
  color: var(--gray);
  font-weight: bold;
}
/* Card */

/* Team Row */
.team-row {
  width: 100%;
}

.team-title {
  font-size: 1.3rem;
}
.members {
  margin-left: 1em;
}

.image-upper:nth-child(1) {
  transform: translateX(120%);
}
.image-upper:nth-child(2) {
  transform: translateX(80%);
}
.image-upper:nth-child(3) {
  transform: translateX(40%);
  z-index: 0;
}
.image-upper:nth-child(4) {
  z-index: 1;
}
/* Team Row */

/* Post */
.post {
  border-bottom: 1px solid var(--light-gray);
  padding: 1em 0;
  width: 100%;
}

.post-description {
  color: var(--gray);
  font-size: .8rem;
}

.time {
  color: var(--gray);
  font-size: .7rem;
  font-weight: bold;
}

.cta-container {
  margin-top: .3em;
  width: 100%;
}

.cta {
  color: var(--blue);
  padding: 1em .5em .5em;
  width: 100%;
}
/* Post */
